<!DOCTYPE html>
<html>
  <head>
    <title>HotwireTwDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div class="d-flex flex-row">
        <%= render 'layouts/svg' %>
        <%= render 'layouts/sidebar' %>
        <main>
          <div class="p-5">
            <%= yield %>
          <div>
        </main>
      </div>
    </div>
  </body>
</html>
