<%= turbo_frame_tag "tweet_form" do %>
  <h4 class="mb-3">こころのこえをつぶやく</h4>
  <% if tweet && tweet.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3 row">
    <%= form_with model: tweet, local: true, html: { data: {controller: "tweets", action: "tweets#submit"}, id: "form" } do |form| %>
      <%= form.label :icon, "きもち", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.radio_button :icon, :love, class: "form-check-input", data: {tweets_target: "icon"} %>
        <%= form.label :icon, value: :love, class: "avator-icon" do%>
          <%== show_icon(Tweet.icons[:love]) %>
        <% end %>
        <%= form.radio_button :icon, :angry, class: "form-check-input", data: {tweets_target: "icon"} %>
        <%= form.label :icon, value: :angry, class: "avator-icon" do%>
          <%== show_icon(Tweet.icons[:angry]) %>
        <% end %>

        <%= form.radio_button :icon, :smile, class: "form-check-input", data: {tweets_target: "icon"} %>
        <%= form.label :icon, value: :smile, class: "avator-icon" do%>
          <%== show_icon(Tweet.icons[:smile]) %>
        <% end %>
      </div>
      <div class="mb-3 row">
        <%= form.label :name, "なまえ", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.text_field :name, class: "form-contorol", data: {tweets_target: "name"} %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= form.label :body, "こころのこえ", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.text_area :body, class: "form-contorol col-sm-10", data: {tweets_target: "body"} %>
        </div>
      </div>
      <%= form.submit 'つぶやく', class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
