<h1>あたらしいこころのこえ</h1>
<div>
  <% if @tweet && @tweet.errors.any? %>
    <div class="alert.alert-danger">
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: Tweet.new do |form| %>
    <div>
      <%= form.radio_button :icon, 0, class:"form-check-input" %>
      <%= form.label :icon, value: "0" do%>
        <%== show_icon(0) %>
      <% end %>
      <%= form.radio_button :icon, 1, class:"form-check-input" %>
      <%= form.label :icon, value: 1 do%>
        <%== show_icon(1) %>
      <% end %>

      <%= form.radio_button :icon, 2, class:"form-check-input" %>
      <%= form.label :icon, value: 2 do%>
        <%== show_icon(2) %>
      <% end %>
    </div>
    <div>
      <%= form.label :name, "なまえ" %>
      <%= form.text_field :name, class: "form-contorol" %>
    </div>
    <div>
      <%= form.label :body, "こころのこえ" %>
      <%= form.text_area :body, class: "form-contorol" %>
    </div>
    <%= submit_tag %>
  <% end%>
</div>
